*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa One", sans-serif;
    
    
    
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/academia\ fundo.jpg);
    background-size: cover;
    background-position: center;

}



.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px 60px;
    border: 2px solid rgba(255,255,255,.2);
    color: #fff;
    backdrop-filter: blur(10px);



}
.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    

}
.login-button{
    display: flex;
    align-items: center;
    
}

.login-button button{
    border-radius: 5px;
    border: none;
    background-color: aqua;
    padding: 0.4rem 1rem;
    cursor: pointer;
    
}

.login-button button:hover{
    background-color: aquamarine;
}
 
.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #0a0a0a;

}

.form-header h1::after{
    content:'';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: blue;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;


}

input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0a0a0a;
    
}

.input-box input:hover{
    background-color: rgb(207, 216, 213);
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #fffdfd;
}

.input-box input::placeholder{
    color: #837c7c;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #fffdfdc0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: aqua;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: aquamarine;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 600;
    color: #0a0a0a;
}

h6{
    text-align: center;
    margin-top: 25px;
    

}